@import '../../../styles/mixins';

.mainContainer {
  position: relative;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--content-color);
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.unitCont {
  @include tablet {
    width: 45%;
  }
}

.label {
  text-align: left;
  height: 35%;
  padding: 0 15px;
}

.label p {
  margin: 0;
  font-size: 14px;
  color: var(--test-color);
}

.dateTimeCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.date,
.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  color: var(--test-color);
  //   background-color: rgba(0, 0, 0, 0.1);
  //   box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 8px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.date p, .time p {
    color: var(--test-color);
}

.date {
  width: 58%;
  position: relative;
}

.time {
  width: 38%;
}

.cont > :last-child {
  margin-top: 15px;
  @include tablet {
    margin-top: 0;
  }
}

.arrowCont {
  display: none;
  color: var(--indigo);
  @include tablet {
    display: inline-block;
    margin-top: 27px;
  }
}

.calendar {
  height: 100%;
}

.calendarCont {
  position: absolute;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  left: 55px;
  top: -5px;
  // width: 90%;
  // max-width: 350px;
  margin: 0 auto;
  z-index: -20;
}

.calendarContEnd {
  @extend .calendarCont;
  @include tablet {

  }
}


