.floatingCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: fixed;
    width: 90%;
    height: 5rem;
    bottom: 0.2rem;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    border: 1px solid var(--c-border);
    box-shadow: 0 4px 8px rgb(35 31 32 / 15%), 0 0 2px rgb(35 31 32 / 5%);
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.leftSide > * {
    padding: 0;
    margin: 0;
}

.button {
    margin: 0;
    padding: 0.5rem 1rem !important;
}