@import '../../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.navCont {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  border-bottom:  1px solid var(--c-divider);
}