@import '../../../styles/mixins';

.cardCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 25rem;
  border-radius: 5px;
  border: var(--border);
  margin: 0 auto 2rem auto;

  box-shadow: 0 8px 6px rgba(0,0,0,0.3);

  @include tablet {
    margin: 0 auto 2rem auto;
  }
  @include large {
    max-width: 30rem;
    margin: 0 auto 2rem auto;
  }
}

.description {
  position: relative;
}

.image {
  position: relative;
}

.image > img {
  max-width: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.description > * {
  margin: 0;
}

.cardTitle {
  padding: 1rem 1rem 0.7rem;
  color: var(--test-color);
}

.cardDesc {
  padding: 0.5rem 1rem;
  text-align: right;
  font-weight: 500;
  color: var(--test-color);
}

.buttonCont {
  position: absolute;
  top: -2rem;
  width: 100%;
  text-align: center;
}

.button {
  padding: 0.5rem 1rem;
}

.divider {
  height: 1px;
  width: 92%;
  margin: 0 auto;
  padding: 0 4rem;
  background-color: rgba(0, 0, 0, 0.2);
}
