@import '../../../styles/mixins';

.heroContainer {
    width: 100%;
    // height: 80vh;
    max-height: 600px;
    margin-top: 10px;
    background-image: url('/porsche_1.jpg');
    background-size: cover;
    background-position: center top;
    text-align: center;
}

.textContainer {
    margin: 0 auto 0 auto;
    // width: var(--width);
    width: 100%;
    height: 100%;
    // @include tablet {
    //     margin: 95px auto 0 auto;
    // }
    // max-width: 800px;
    padding: 40px 15px 20px 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.textContainer > :first-child {
    margin-bottom: 10px;
}

.textContainer > :not(:first-child) {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.textElement {
    margin: 0;
    font-size: 2.6rem;
    color: black;
    @include tablet {
        font-size: 3.2rem;
    }
}

