@import '../../../styles//mixins';

.container {
  display: flex;
  flex-direction: column;
  margin: 55px auto 0 auto;
  width: 100%;
  max-width: 50rem;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;

  box-shadow: 0 8px 6px rgba(0,0,0,0.3);
}

.buttonContainer {
    margin-top: 15px;
    // @include tablet {
    //   margin-top: 0;
    //   text-align: end;
    // }
  }

.button {
  width: 100%;
  border-radius: 5px;
}


