.container {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  width: 100%;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
}

.fromDate {
  background-color: lightcyan;
}

.untilDate {
  background-color: lightcoral;
}

.buttonContainer {
    background-color: lightcyan;
  }

// .item {
//   width: var(--width);
//   height: 66px;
//   margin: 0 auto;
// }


